.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 380px;
    left: 50px;
  }
  
  .baloon {
    position: absolute;
    z-index: 4;
    width: 100px;
    height: 100px;
    top: 350px;
    left: 145px;
  }
  
  .speach {
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    z-index: 5;
    width: 50px;
    height: 30px;
    top: 350px;
    left: 160px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 3;
    top: 380px;
    left: 230px;
  }